[2019-06-26 13:10] CodeByAlex opened #1 "Feature request: discussion"
Hey there! I love what you are doing with this addon. I think it will be very useful for a lot of teams, especially those that use design systems. I have a couple of ideas that I wanted to throw out there for future additions:

- Instead of including all of the tokens on all of the addons, maintain a list of all tokens and display only the tokens that each component uses
- Add a check against the

[2019-06-26 13:39] Sqrrl commented on #1
Hey, thanks for your feedback.

A coworker pitched that same idea to me the other day. I think it would be a great feature. Analyzing the components for token usage could be quite challenging. But I will definitely give it a try.

That sounds really cool. Implementing should be straight forward. I already do similar things when extracting the aliases. I'll add that to my list.

[2019-06-28 13:35] Sqrrl commented on #1
I have put together a first draft concerning the hard coded values. CSS-only for now. Any thoughts?
https://feat-hard-coded-token-values--storybook-design-token.netlify.com

https://github.com/UX-and-I/storybook-design-token/tree/feat-hard-coded-token-values

[2019-06-28 14:08] CodeByAlex commented on #1
@Sqrrl I really like what you've done there and its great that you have the line markers. A couple of comments:
- Looking at the screenshot below, without other context, I wouldnt be able to determine what the token would be used for and I would have to go to the css file to find out. What do you think about  adding the style type such as font or font-size of font-width in the first column so that

[2019-06-28 14:18] Sqrrl commented on #1
@CodeByAlex Will that accordion be part of @storybook/components or any other reusable package? Would be great to reuse more of the actual storybook ui components.

[2019-06-28 14:20] CodeByAlex commented on #1
It will be soon now that Jest and the a11y addon will use it but it isnt at the moment. If you would like to wait to use it when it comes out, I can let you know when it does.

[2019-06-28 14:25] Sqrrl commented on #1
Sounds good.

[2019-07-10 00:18] CodeByAlex commented on #1
So excited for this(and so are many others that ive spoken to)! Let me know if there is anything I can do to support. How far are we from scss integration?

[2019-07-10 12:05] Sqrrl commented on #1
Hey. Support for scss is in version 0.3.0-alpha.5. But be aware that detection does not work for shorthand values right now. I will look into that after my vacation.

Thanks for your input. Would be great to see other real world usages of the addon.

[2019-07-31 08:39] Sqrrl commented on #1
Released v0.3.0 with hard coded value list. The way I use variables in my css produces quite some false positives.

[2019-07-31 14:24] CodeByAlex commented on #1
That's Awesome @Sqrrl . Ill check it out

[2019-10-08 05:39] davidrpoliti opened #2 "Module not found error after install"
After getting storybook running locally, I install the addon and get this error

### Error
<img width="549" alt="Screenshot 2019-10-07 22 36 10" src="https://user-images.githubusercontent.com/4054043/66369892-0790d380-e953-11e9-9bc1-f184c81aa765.png">

### Storybook config
[code]

[2019-10-08 06:36] Sqrrl commented on #2
Hey. The part after `!!raw-loader!` should match the path of your token files. It should look like this, if you only want to parse the _variables.scss file:

`const scssReq = require.context('!!raw-loader!.', true, /_variables\.scss$/);`

Make sure that the path is relative to your config.js file location. Is your _variables.scss really located inside the .storybook directory?

[2019-10-13 10:57] davidrpoliti commented on #2
@Sqrrl thanks, this got me rolling again.
What’s the escape syntax to go into an adjacent folder or a few levels up?

[2019-10-13 12:24] Sqrrl commented on #2
Assuming your file is located in an adjascent folder called „styles“:

require.context('!!raw-loader!../styles', true, /_variables\.scss$/);

[2019-10-17 00:47] davidrpoliti commented on #2
Magic. That worked. Thank you!

[2019-10-17 00:47] #2 closed

[2019-11-27 16:43] vinceumo opened #4 "Feature request: Ability to mofify values directly in storybook"
Hi, I was playing with this add-on and it is great!

It would be awesome to be able to interact with the value directly in storybook, would be really handy for non tech stakeholders.

Ability to save and load the custom presets as json? file would be amazing

It would be something similar to the [material UI add-on](https://sm-react.github.io/storybook-boilerplate/?theme-ind=0&theme-sidebar=false&

[2019-11-28 07:45] Sqrrl commented on #4
Hey. I will definitely look into the interaction thing. Not sure how to implement this with preprocessed styles, but should be straight forward with css variables.

Regarding the json serialization. There are some efforts for design token specifications (e.g. https://github.com/design-tokens/community-group/issues/1) that look interesting. Idea behind this addon was to generate the token docs dire

[2019-11-29 10:02] Sqrrl commented on #4
I've put together a quick PoC. Would like to hear your feedback.
https://5de0ea3fde0c3500088752a4--storybook-design-token.netlify.com/

[2019-12-13 16:27] vinceumo commented on #4
That's amazing Philip, really like that you can revert back to the original value quite easily. In my use case the json would be really handy or a way to retain the value in a local storage maybe. Other than that this feature as it is, is already super handy

[2019-12-19 12:41] Sqrrl commented on #4
The first iteration is released as part of 0.5.0. I will look into the preset and persistence thingy next year.

[2020-01-12 15:42] snyderhaus opened #5 "Configure to work with Storybook 5.3.0"
Would be nice to see how to use that configure with the latest release of Storybook so we can use only main.js

[2020-01-14 07:58] Sqrrl commented on #5
I'll have a look later this week. Have you already tried using the new main.js and ran into issues?

[2020-01-15 01:38] snyderhaus commented on #5
@Sqrrl I have, maybe I missed something.. but didn't seem to work!

[2020-01-15 01:38] snyderhaus commented on #5
Also, this has helped immensely with design tokens, so I'm looking forward to keeping it in my project!

[2020-01-20 17:23] gabriela-it opened #6 "Preview not working for colors defined with `!default`"
Hi there,
Thank you for sharing this great work!

Here is a shot of the problem:
![2020-01-20 - SCSS Variables with Default](https://user-images.githubusercontent.com/9743044/72746094-2be28a00-3ba9-11ea-94d7-62eada5e3492.png)

Thanks!

[2020-01-20 18:00] Sqrrl commented on #6
Thanks. Need to filter out ! statements, it seems. I‘ll fix that with the next release.

[2020-01-21 07:35] Sqrrl commented on #5
Made a quick check with the new configuration. Here is what worked for me:

- add 'storybook-design-token' to the **addons** list in the `main.js`
- add all other configuration for the addon to the **preview.js**:

[code]

[2020-01-22 10:07] Sqrrl commented on #5
Added the new configuration to the README.

[2020-01-24 09:14] Sqrrl commented on #6
Fixed with v0.5.1

[2020-01-25 20:14] snyderhaus commented on #5
Awesome! Thank you, appreciate it!

[2020-01-25 20:14] #5 closed

[2020-02-11 18:08] Smolations opened #7 "Feature Request: Custom Presenters"
First off, THANK YOU! I have been dreading setting up a custom story that manually displays brand colors via variables, so this add-on really hit home for me. 👏

Now for the feature request, custom presenters. The default presenter for colors is pretty good, but it isn't responsive so I basically need my browser at full width on a 15" screen to see all the info. This could be solved by a custom co

[2020-02-11 18:48] Sqrrl commented on #7
Hey. The panel styling definitely needs some work. I‘ll try to come up with something more compact or responsive in the near future.

Regarding the custom presenters, you can skip the `@presenter` annotation to display tokens without an example column. A system to plug in custom presenter components is definitely on my todo list. I just can‘t find the time right now.

[2020-02-11 22:29] Smolations commented on #7
Oh ok, good to know! To clarify though, any files annotated with `@tokens` will still show up under the global panel and not in any component-specific panel, right?

[2020-02-12 07:33] Sqrrl commented on #7
Right.

[2020-02-15 19:42] mario-dicarlo opened #8 "Not IE11 compatible"
Can this be made IE11 compatible?

E.g. can packages like @illinois/react-use-local-storage be replaced with an alternative as it uses arrow functions?

[2020-02-18 07:44] Sqrrl commented on #8
Looking into this. Thanks for reporting.

[2020-02-19 14:14] Sqrrl commented on #8
Hey. So the issue with the local storage lib can be resolved easily. Unfortunately there is at least one other library (comment-parser) that is not IE11 compatible and isn't replaced as easily. I'll try to get this working at some point, but cannot commit to it right now. Sorry.

[2020-02-21 12:00] Sqrrl commented on #7
I'm experimenting with a new card based panel design. Would like to hear your opinion. I think this would work better for small viewports.

https://5e4fc5b774995401749596ec--storybook-design-token.netlify.com/

[2020-02-24 17:59] Smolations commented on #8
@Sqrrl Is it possible to transpile that dependency down to es5 by using a custom webpack config in storybook? Basically, is there any other workaround besides a change in this project?

[2020-02-25 15:18] Sqrrl commented on #8
Thought about that, too. I don't think it is possible using TypeScript, but you could add Babel or the like to the build setup to transpile dependencies. Not sure if that's a good idea, though.

[2020-02-25 15:32] #6 closed

[2020-03-30 12:57] bendobos opened #10 "Alias from two different files is not displayed"
Hi there! I noticed the following behavior:

Have two different css files, for example:
[code]

[code]

In Storybook, `--gray-default` is not shown at all, while `--another-var` is shown. `--gray-default` is also not displayed as an alias.
When I move everything in one file, the aliases are detected as expected.
Having the same value for `@tokens` in both files shows the same behavior.

[2020-03-30 13:02] Sqrrl commented on #10
Thanks. Will look into that.

[2020-03-30 13:04] bendobos commented on #10
Fixed a typo in my example :D.

[2020-04-01 08:20] bendobos opened #11 "Feature Request: Setting Presenters per Property"
It would be really cool if the presenter could be overridden per property:

[code]

That way, developers could make "mixed blocks" of properties and would not be forced to structure their CSS in a certain way to make it work with this plugin. It would add quite a bit of flexibility, in my opinion.

[2020-04-01 16:51] gossi opened #13 "Feature Request: Tokens as Story/Canvas"
Thanks for putting this addon together.

For now the tokens show up in the addons sidebar, which is a thing I'm wondering about. For me they are informative instead of letting you _customize_ the story at hand.

I would like to put them into the navigation of the sidebar and let them show up in the main/story area.

[2020-04-01 16:56] gossi opened #14 "Feature Request: Color Scheme support"
I do have themes, that I want to swap in storybook and these themes do have different color schemes. Here is what I might look like:

[code]

Color schemes can come in with media query support or custom classes.

Is there a way to make them been listed?

[2020-04-01 16:58] gossi opened #15 "Feature Request: Theme support"
I'm having multiple themes (with multiple color schemes - see #14) and my natural place to switch them would be the `toolbar` addon coming in v6.

Is there a way to provide a bridge to the toolbar addon and connect the switch here?

(Ideally tokens should stay the same, only the value changes)

[2020-04-03 07:00] Sqrrl commented on #13
Hey. This is already somewhat planned as part of the Storybook Docs Addon. See full discussion here: https://github.com/storybookjs/storybook/issues/7671

Therefore I would keep that out of the scope of this addon.

[2020-04-03 08:04] Sqrrl commented on #15
Sounds good to me. Not sure when I will be able to look into the new storybook stuff coming with v6. Probably after the official release. But feel free to open a pull request, of course. 😉

[2020-04-03 08:51] Sqrrl commented on #10
Fixed with v0.7.1

[2020-04-04 17:17] gossi commented on #14
More info on this: https://gos.si/blog/say-hello-to-theemo-the-yordle-powered-theme-automator/

[2020-04-04 17:19] gossi commented on #13
That is great to hear. I just released Theemo, read here about: https://gos.si/blog/say-hello-to-theemo-the-yordle-powered-theme-automator/

Basically the idea with this, is theemo already knows about all your tokens. Would like to connect theemo to this. In the end theemo automates everything for you, just one command left.

Let me know how to collaborate. Will also put a comment on storybook iss

[2020-04-05 07:41] hermanc-fda opened #16 "Upgraded to 0.7.1 and it broke"
ERROR in /xxx/node_modules/storybook-design-token/dist/components/TokenOverview.js
Module not found: Error: [CaseSensitivePathsPlugin] `/xxx/node_modules/storybook-design-token/dist/components/presenter/TokenPresenter.js` does not match the corresponding path on disk `Presenter`.
 @ /xxx/node_modules/storybook-design-token/dist/components/TokenOverview.js 15:23-60

And a few other similar errors.

[2020-04-05 08:13] Sqrrl commented on #16
Hey, I renamed some stuff recently. Looks like a case sensitivity problem with the repo and git. What OS are you using?

[2020-04-05 08:34] Sqrrl commented on #16
Just released v0.7.2 that should fix the issue. Would be great if you could verify. Sorry for the hassle.

[2020-04-05 09:05] hermanc-fda commented on #16
No prob, lemme try now. Mac OS Catalina. No need to apologize - I paid you nothing for it :)

[2020-04-05 09:12] hermanc-fda commented on #16
hmmm same problem; also get a similar error (I got this error before too):

ERROR in /xxx/node_modules/storybook-design-token/dist/components/HardCodedValuesTable.js
Module not found: Error: [CaseSensitivePathsPlugin] `/xxx/node_modules/storybook-design-token/dist/components/primitives/Card.js` does not match the corresponding path on disk `Primitives`.
 @ /xxx/node_modules/storybook-design-token/

[2020-04-05 09:13] hermanc-fda commented on #16
![image](https://user-images.githubusercontent.com/60711219/78471044-f7c83100-76e2-11ea-8e86-3187b91eea7f.png)

[2020-04-05 09:49] Sqrrl commented on #16
This is strange. The case sensitivity issue with directories `primitives` and `presenter` should be fixed. Could you delete your node_modules and make a clean install? Inside `node_modules/storybook-design-token/dist/components`: Do you see the folders `primitives` and `presenter` or `Primitives` and `Presenter`?

[2020-04-06 05:19] hermanc-fda commented on #16
Looks like the compile error is gone - thanks. I'm also getting this: any ideas?

![image](https://user-images.githubusercontent.com/60711219/78525214-64970600-778b-11ea-8286-4fe9cc457a2b.png)

I followed the trace and got here:

![image](https://user-images.githubusercontent.com/60711219/78525247-7678a900-778b-11ea-84b0-545cd13faa78.png)

And my .scss file exists and has the proper annotations (i

[2020-04-06 07:04] hermanc-fda commented on #16
If it helps, here is my preview.js:

`import { addParameters } from "@storybook/react";

const scssReq = require.context("!!raw-loader!../shared", true, /.\.scss$/);
const scssTokenFiles = scssReq
  .keys()
  .map(filename => ({ filename, content: scssReq(filename).default }));

addParameters({
  options: {
    showRoots: true
  },
  designToken: {
    files: {
      scss: scssTokenFiles
    }
  }

[2020-04-06 15:58] Smolations commented on #7
@Sqrrl That looks pretty good when the addons panel is on the side, but when it's underneath the canvas the colors and headers span full width, so scrolling is a bit difficult because it's like, black, color, black, color, black, color, etc. Maybe instead of allowing full width you can use a responsive grid setup? Looks like the container is already flexed so you just need to set a max-width on ea

[2020-04-06 16:27] Sqrrl commented on #7
Hey. Thanks for your feedback. The cards should already behave like you described.  This is how they look to me:

<img width="1156" alt="Bildschirmfoto 2020-04-06 um 18 23 59" src="https://user-images.githubusercontent.com/1019414/78581269-f22e3080-7833-11ea-94f1-99b0eb54eab7.png">

What browser are you using? Does it work if you resize the addon panel?

[2020-04-06 16:31] Sqrrl commented on #16
Could you post the content of your __design-tokens.scss?

[2020-04-06 16:31] #10 closed

[2020-04-06 16:57] Smolations commented on #7
Ahhh, weird, that's not how they appeared at first render, but seems like they are showing up like that now. You didn't push any changes within the last few mins, did you?  :smirk:

Anywho, love that you give users the option between card/table view! Now if we could only solve that black header problem...

Also, a nice to have, would be a lil search bar on each token category that would simply fil

[2020-04-09 23:52] hermanc-fda commented on #16
I cut it down to this and it's still throwing the error:

![image](https://user-images.githubusercontent.com/60711219/78950092-7fff5b00-7a82-11ea-83ab-d295fccaa975.png)

/**
 * @tokens Colors
 * @presenter Color
 */

$color-base-accents-blue: #0033a1;

[2020-04-16 14:39] pbesteves opened #17 "Feature Request: Add parser to load font files (woff, woff2, otf, etc)"
I am using some custom fonts on a project I am working on and I need to load an .otf file.

[2020-04-16 15:53] Sqrrl commented on #17
Hey. That's a big bullet on my list. Will think about a solution as soon as possible.

[2020-04-16 17:25] pbesteves commented on #17
Hi! I believe that using the [url-loader](https://github.com/webpack-contrib/url-loader) or [file-loader](https://github.com/webpack-contrib/file-loader) for webpack would be a nice approach. From what I've seen, currently the addon only used the raw-loader.

[2020-04-24 11:42] Sqrrl commented on #16
Sorry, still cannot reproduce. Could you provide a reproduction repo? Are you using a custom webpack config? Maybe something is interfering with the loader.

[2020-04-29 18:49] Smolations commented on #8
@Sqrrl Just giving a little nudge on this issue.

Additionally, I recently came across [a similar issue](https://github.com/pocka/storybook-addon-designs/issues/28) in another 3rd party storybook addon. That maintainer was convinced to fix the issue given the direction [in the storybook docs](https://storybook.js.org/docs/addons/writing-addons/#package-maintenance):

While _this_ particular issue

[2020-04-30 09:07] Sqrrl commented on #8
The comment parser is used for the comment blocks in stylesheets. Examples are here: https://github.com/UX-and-I/storybook-design-token#usage
This is done during runtime.

I'm pretty busy right now, but will try to add an es5 bundle of the addon as soon as possible.

[2020-05-15 12:21] Sqrrl commented on #8
Hey, I just published a tagged release to NPM which should work in IE11. Would be great if you could install `storybook-design-token@ie11` and check if it is working for you.

It works on my machine (🙄), but would be great to have this verified by you guys, so I can make a proper release.

[2020-05-15 16:35] Smolations commented on #8
@Sqrrl Yea no problem! I'll check it out today, thanks! 👏

[2020-05-15 17:39] Smolations commented on #8
@Sqrrl Oooooohhh yeeeaaaaaaa! We have IE11 support! Loads up just fine for me, pretty much immediately. I say ship it! 👍

Will this be the new default bundle?

Also, not sure if this is related, but in the token knobs tab (redesign looks _fantastic_ btw!) I am seeing an empty section the origin from which I'm unsure of:

<img width="541" alt="Screen Shot 2020-05-15 at 11 30 09 AM" src="https://use

[2020-05-18 07:15] Sqrrl commented on #8
Hey, thanks for testing. Released as 0.7.3.

The empty panel is for hard coded values in your css that match existing custom properties. I should hide this if it is empty. Closing this issue nonetheless.

[2020-05-18 07:15] #8 closed

[2020-05-18 09:49] Elray02 opened #18 "Add the possibility to modify variable of LESS"
Hello Hello, first of all thanks for this great addon i love it!
I would like to ask if in some future release you could add the possibility to modify also the LESS variable in the storybook. There is this method called less.modifyVars() that allow to change the value in real time with out recompile the less file [here the documentation about it](http://lesscss.org/usage/#using-less-in-the-browser

[2020-05-18 09:51] Sqrrl commented on #18
Hey, didn't know that. Will give it a try.

[2020-05-18 10:27] Elray02 commented on #18
Cool! if you need a tester i'm here

[2020-05-30 04:16] peterbroomfield opened #19 "Gradient presenter not displaying gradient"
[](url)
<img width="1419" alt="Screen Shot 2020-05-30 at 12 12 55 AM" src="https://user-images.githubusercontent.com/53009735/83319258-d8451480-a20a-11ea-8406-8ae6109ffb0c.png">

[2020-06-05 12:02] Sqrrl commented on #19
Hey. Will look into this.

[2020-06-14 12:45] YannLorgueilleux opened #21 "Support hsl colors"
Hello,
Is there a way to support HSL color space ?

[2020-06-22 06:35] Sqrrl commented on #21
Hey, this should work. I'll have a look.

[2020-06-23 18:00] MihaelN opened #22 "Minor logic/render bug in version 0.7.4."
Minor bug in version 0.7.4.

**Steps to reproduce:**
If there are no hardcoded values, after the last separator in the Design Token tab `"0"` is rendered. I am assuming it renders the length of 0 when no hardcoded values can be found.

I am referring to line 60 in node_modules `storybook-design-tokens/dist/component/Panel.js`

----

https://github.com/UX-and-I/storybook-design-token/blob/fc491d95d

[2020-06-25 20:56] 11joselu commented on #22
I see that bug too.

My bad with my MR at #20

[2020-06-26 08:36] Sqrrl commented on #22
Thank you both. Published as v0.7.5

[2020-06-26 08:36] #22 closed

[2020-07-03 08:44] Sqrrl commented on #21
Hey. Should be fixed with v0.7.6.

[2020-07-03 13:36] Sqrrl commented on #19
Hey, fixed with v0.7.7 … I hope. ;)

[2020-07-03 13:37] Sqrrl commented on #16
@hermanc-fda I'm closing this for now. Please re-open if you think it's still broken.

[2020-07-03 13:37] #16 closed

[2020-07-04 08:12] YannLorgueilleux commented on #21
Thks, i ‘ll  be back after trying this release . Thks again

[2020-07-05 08:07] #21 closed

[2020-07-12 13:50] dimitrilahaye opened #24 "Support for Svelte"
Is it in the pipe, a support for Svelte JS?
Thanks for the answer :)

[2020-07-15 15:23] 11joselu commented on #13
We have a Custom Component to generate dynamic Tokens with a MDX Story overview

_Note: This component only search for sass files._

[code]

Usage:

Alert.stories.mdx

[code]

This already solve our problem.

[2020-07-31 12:23] #19 closed

[2020-07-31 12:25] Sqrrl commented on #24
Hey, I have no experience with Svelte. If it is using/producing ordinary css, sass or less files, it should already work. Could you elaborate on the problems you ran into?

[2020-08-20 08:36] 404passionFruit opened #26 "Feature request: Show examples for advanced sass colors and gradients"
Thank you for the addon! Seems like it can be a life-saver for future projects. 🔥

I've noticed **few issues with showing the examples of color tokens** when:
1. A color is defined with sass color functions:

[code]

2. A gradient is defined with color variables:
[code]

![Screenshot](https://user-images.githubusercontent.com/11773029/90744829-c2f6f800-e2d8-11ea-96a1-dc853a0c3e12.png)

As shown on

[2020-08-25 13:33] Sqrrl commented on #26
Hey. Thank you for your detailed feedback. I will look into this. Although I'm not sure if this is possible. It would require for the addon to process the sass values.

[2020-09-14 12:19] qburst-akhilp opened #29 "Storybook is not working while using storybook-design-token in IE11 and Edge browsers."
I have used `storybook-design-token` in our react storybook design system. It's working fine in all browsers except IE11 and Edge. Are you giving support for this addon in IE11 and Edge?
<img width="950" alt="Screenshot 2020-09-11 at 11 13 29 AM" src="https://user-images.githubusercontent.com/48544881/93084382-92289980-f6b1-11ea-8cdd-400fa4faf3fc.png">

[2020-09-14 12:46] Sqrrl commented on #29
Hey. Looks like a regression. It once worked, see https://github.com/UX-and-I/storybook-design-token/issues/8.

Will look into this as soon as possible.

[2020-09-17 22:38] osmarpetry opened #30 "Styled-components is on the roadmap?"
Hello folks!

It's a very good library to use on storybook, but it will be available in the future to use with styled-components library too?

[2020-09-17 22:50] osmarpetry commented on #30
I found a alternative, where all the tokens still on css file. I just need to import then to my styled-components to call the tokens variables as the native css.

[2020-09-25 10:55] Sqrrl commented on #29
Think I found the issue. Could you please verify using v0.7.9?

[2020-10-12 13:38] Sqrrl commented on #29
Closing. Feel free to re-open if your issue is not fixed.

[2020-10-12 13:38] #29 closed

[2020-10-15 20:43] codequistador opened #31 "Feature Request: Ignore path for hard coded values and RGB support"
Hello! First of all, this plugin is great. It was super easy to set up and has almost everything I need for my component library. Great work!

I am wondering if you could add a config option to disable or customize the hard coded values section. An option to disable this altogether would be fine to start, but it might be useful to include a path or two to ignore when compiling this list.

Finally,

[2020-10-15 20:58] codequistador commented on #31
It would be sweet to be able to render this on a single docs page as well. Any thoughts on that?

[2020-10-16 10:26] Sqrrl commented on #31
Hey.

Should be an easy improvement. I'll add to the list.

Color functions like rgb(a) and hsl(a) should already work. What are the issues you are experiencing?

Not planned right now. But have a look at this workaround for now: https://github.com/UX-and-I/storybook-design-token/issues/13#issuecomment-658832724

[2020-10-16 12:47] Sqrrl commented on #31
Added a new option to disable the hard coded value list.
https://github.com/UX-and-I/storybook-design-token#configure-for-storybook-53-and-later

[2020-10-16 15:14] codequistador commented on #31
Hey.

Thank you for the quick release! That's awesome.

As for the rgb(a) there are no issues, but I am more talking about the a programatic conversion from hex to rgba so that both can be shown. No worries if that's not a priority or even a good idea haha.

Thanks again!

Justin

[2020-10-16 15:36] codequistador commented on #13
Cool! I'm going to try this out.

[2020-10-19 10:00] sverrehagen opened #32 "Issue: Aliased/Inherited CSS Variables don't show up"
When I do e.g.

[code]

The latter don't show up in the tokens panel. However, it does show up if i do:

`--font-size-default: calc(1 * var(--base-size));`

Perhaps some issue with `var(...)` being the first part of the variable?

[2020-10-19 18:43] angrycat9000 commented on #11
Second the idea to separate the groups from the presenters.

I tried formatting the CSS as follows but got multiple _Borders_ groups in the UI.

[code]

[2020-11-03 17:30] ARuzek opened #33 "Support for Storybook: OpenWC"
Windows 10
Chrome 86
Storybook 5.3.10 : Framework Web Components
Build Framework via OpenWC

This add-on produced the following errors in browser:
[code]

[2020-11-06 13:37] Sqrrl commented on #33
Hey, I can reproduce the error with a clean OpenWC project. I don't think it is a general issue with web components, but with the OpenWC build setup.

The storybook addon is published as a CommonJS module, which I'm guessing is not supported by the OpenWC setup. I'm not sure how to work around this, as I have never used OpenWC. I will try to publish the addon as an ES6 module in the future. Maybe

[2020-11-06 13:42] Sqrrl commented on #32
Hey, it should show up in the `Aliases` column of the `--base-size` row. Are you expecting `--font-size-default` to show up in a separate row?

[2020-11-06 13:48] sverrehagen commented on #32
[code]

If I do this, `--font-size-16` does not show up under `Font Sizes`.

`--root` is defined in another file, and not really something I want to show up in the Design Token explorer, because it's not meant to be consumed directly anywhere.

[2020-11-06 14:24] Sqrrl commented on #32
Got it. Could you try v0.8.1?

[2020-11-07 23:32] ARuzek commented on #33
Sounds good, thanks!

[2020-12-08 07:04] f2-107 commented on #32
Hi Philipp,

we have a similar issue but in the SCSS files. When we have a block like this:
[code]
Then only `background-sand-light` shows up, but white. Maybe because it won't solve the `$sand-03` variable inside.

Is it a similar issue or should it be a new one?

[2020-12-11 08:11] Sqrrl commented on #32
Closing this. Please re-open if the issue still exists.

[2020-12-11 08:11] #32 closed

[2021-02-07 12:01] yakky opened #36 "Hide value with SvgToken presenter"
svg object value is of very little use in this context and it makes usage much more cumbersome and less clear

Maybe it would be possible to add a `hideValue` attribute to the `Token` object and render the `value` attribute based on that?

By setting it when parsing svg object would make it transparent and will not affect other token types

[2021-02-08 11:40] Sqrrl commented on #36
Hey. I'm not sure I get your point. Could you elaborate on your issue with the SVG presenter? What makes displaying the svg value less clear? How does it affect other token types?

[2021-02-09 19:00] cherylcarpenter opened #37 "storybook fails with addon"
I'm running storybook 6.2.17 with a view project.
Just adding this as an add-on in main.js, i get the following error on starting storybook.
ERR! TypeError: Cannot read property 'options' of undefined

[2021-02-10 07:44] Sqrrl commented on #37
Hi. Did you set the designToken parameter in your `preview.js` as described here?
https://github.com/UX-and-I/storybook-design-token#configure-for-storybook-53-and-later

[2021-02-12 10:43] lmeijdam commented on #37
I have also bumped into this same issue while using Cypress. Most of the tests fail now with the following error; **_CypressError: Timed out retrying after 4050ms: `cy.click()` failed because this element is detached from the DOM._**
This happens next to the ;ERR! TypeError: Cannot read property 'options' of undefined;. Might be linked to each other

[2021-02-19 17:17] cherylcarpenter commented on #37
Hi,
Franky, I can copy-paste your suggestion into my preview but I don't really get what it wants as a config. That is a very large block of code when i just want to show tokens from my scss.
 A little more info would be appreciated. I assume the 'filename' is a variable but which file will make this work? my index.scss? my _variables.scss? my tokens.scss file?

[2021-02-21 17:13] cherylcarpenter commented on #37
More info:
I'm using storybook in a vue application.
I'm thinking your plugin only works with React.
I've tried adding @storybook/react but there are still many errors.

I've downloaded your code and tried running your Demos, and they also have unresolved paths.
Overall this has cost me a lot of time and we are abandoning this leg of our workflow.

[2021-02-21 17:39] Sqrrl commented on #37
Sorry, to hear that. The addon should work regardless of the framework you are using. Installing React should not be necessary at all. The demo gets deployed to Netlify after every change to the library, which seems to work fine. That lets me believe that there might be something in your project setup causing a problem. I would gladly assist but need a way to reproduce the issues you are having.

[2021-02-26 11:13] michelepatrassi commented on #37
@Sqrrl I'm facing the same problem with Angular, but as you mentioned the issue is in the project itself. I created a new angular app, installed storybook and your addon and everything seems to work fine.

I'm doing some debugging in the project where is does not work. It looks like the story does not get the designToken parameter (storyData.parameters.designToken is undefined, but storyData.param

[2021-02-26 12:28] Sqrrl commented on #37
Hey @michelepatrassi,

Are you using an alpha release of Storybook 6.2? I get the "not supported" errors with version `6.2.0-alpha.29` without having the design token addon installed. So I'm assuming they are unrelated to the addon.

Anyway, thanks for your input. The designToken parameter should definitely not be undefined. Would be great if you'd find a minimal setup to reproduce the error. What

[2021-02-26 14:43] michelepatrassi commented on #37
@Sqrrl Thanks for the input! Actually I was but I decided to go back to ^6.1.20. Your comment actually triggered me to remove and reinstall the node_modules and now I don't get the "Cannot read property 'options' of undefined" anymore, so I suspect that something was wrong in the node_modules at this point. @cherylcarpenter Can you give this solution a try with the latest stable version of storybo

[2021-02-26 15:43] Sqrrl commented on #37
That is intentional. The addon assumes that your variables default values are already applied globally. When you change a value it just calls style.setProperty() to overwrite the default value.

I will check that out.

[2021-02-28 19:23] cherylcarpenter commented on #37
Hi,
I tried again with a basic setup, exactly like this tutorial
https://github.com/chromaui/learnstorybook-code/tree/vue

The code runs just fine.
I add the plugin, but am still unclear on the paths, since storybook finds
import '../src/index.css
but with the plugin i get
Module not found: Error: Can't resolve '../src/index.css' in '/Users/foo/Documents/GitHub/learnstorybook-code/.storybook'

so

[2021-03-01 07:56] Sqrrl commented on #37
The first parameter of require.context should specify the directory path of your token files, relative to the .storybook directory.  In your case `'!!raw-loader!../src'` should be the correct path. The third parameter should be a regular expression matching your token files. To only match files with the .css extension, you should change your expression to `/.\.css$/`.

So I think your cssReq decla

[2021-03-01 14:47] cherylcarpenter commented on #37
This seemed to help, and thank you for the explanation. Sorry, the intention was not clear to me :)
Now I'm getting the following
![image](https://user-images.githubusercontent.com/13105904/109513464-bebb4c80-7a6a-11eb-9232-dfff4dcce6af.png)

[2021-03-02 08:00] Sqrrl commented on #37
That's tough to debug from the screenshot alone. What does your token files look like? Any chance your code is open source?

[2021-03-02 18:12] cherylcarpenter commented on #37
It is not open-source.
That said, the ../src folder we looped in from the previous conversation is a folder of many scss files from a commercial bootstrap theme. So there is not one token file. My expectation was since we are pointing to a folder and not a file, that this plugin would just find them. So is there some way I need to mark them up for the plugin to do its thing? Pointing to a folder o

[2021-03-03 11:26] Sqrrl commented on #37
The plugin will parse all files matched by your config. According to your example from above, you seem to be only loading .css files, not .scss files.

Further, for the addon to know which variables to display as tokens, the token files need to be annotated as described here: https://github.com/UX-and-I/storybook-design-token#usage

[2021-03-03 17:25] cherylcarpenter commented on #37
Sorry I was dealing with two different examples in this overall discussion. I've tried scss and css files.
The usage link is helpful for understanding that the plugin is looking for specific documentation, not sure how I missed that.

That said, now I'm back to storybook error:
**Module not found: Error: Can't resolve '@storybook/react' in '/.storybook'**
Overall I'm still debugging storybook vers

[2021-03-04 17:15] cherylcarpenter commented on #37
Hi-
for any that follow I try to be a good citizen.
I have the plugin working in a basic Vue application with
    "@storybook/react": "^6.1.21",
    "@storybook/vue": "^6.1.21",

So.. some package in my current project is not playing nice. If I can narrow that down I will report in a new thread.
Thank you! I'm a frontend dev and really want to get this working for our team!

[2021-03-12 20:14] Smolations opened #38 "Resolving NPM Vulnerabilities"
Hello again! 👋  😁

I am currently working on an upgrade from Storybook v5.3 to the newest v6.1.x. It seems that the v5 packages incurred some vulnerabilities all at once and upgrading eliminated most of them. However, there are a couple remaining from your package, specifically.

I notice that you are referencing storybook v5 modules in your `package.json`. I don't see an upgrade tag or a "next" b

[2021-03-13 11:14] Sqrrl commented on #38
Hey, decent timing. I'm almost done with the v1 rewrite and will push it soonish.

[2021-03-19 14:54] Sqrrl commented on #38
Hello.

If you're interested, you could check out the v1 beta. It has some new features, simplified configuration and should get rid of the marked packages. However, it got some breaking changes and is not quite done yet.

`yarn add storybook-design-token@next`

Readme is here: https://github.com/UX-and-I/storybook-design-token/tree/v1

[2021-03-19 14:57] Sqrrl commented on #17
Hey.

It's been a while since your request, but maybe you'd like to check out the v1 beta. It comes with a way to inject custom fonts.

`yarn add storybook-design-token@next`
or
`npm add storybook-design-token@next`

Readme is here: https://github.com/UX-and-I/storybook-design-token/tree/v1
Style injection is described here: https://github.com/UX-and-I/storybook-design-token/tree/v1#advanced-confi

[2021-03-19 15:01] Sqrrl commented on #13
Hey.

It's been a while. Just wanted to let you know that v1 of the addon will come with custom doc blocks to add the token documentation to your stories/docs pages.

If you're still interested, you could check it out. Please the README below. The new version comes with new configuration instructions.

`yarn add storybook-design-token@next`

Readme is here: https://github.com/UX-and-I/storybook-de

[2021-03-28 18:19] aasen opened #39 "SCSS parser problem"
Hi!

I am trying to use this cool addon, and I'm following the setup _exactly_ as described for v1.0.0. I've checked the example 100 times.

The build goes without problems, but I get a problem in the browser:
[code]

I'm on storybook 6.1.21, and setup is totally basic. I use @storybook/preset-scss addon for scss, but I don't think that is anything but normal. The webpackFinal setup in main.js loo

[2021-03-28 18:53] Sqrrl commented on #39
Hey. Just tried it myself with @storybook/preset-scss. Could not reproduce the issue, unfortunately.

A few questions:
Does the error disappear when you remove the design token addon from the project?
Could you post your preview.js?
The custom webpack config doesn't seem to be required by the scss preset. Are you sure that it's necessary?

[2021-03-28 20:00] aasen commented on #39
It works when I remove the addon from the project. But you are right, I don't need the special webpack-setup for scss-support. After a reinstall here, I see that I get lots of version changes for postcss modules. I'll try and retry adding the design token addon now.

Thanks for helping.

[2021-03-28 20:12] aasen commented on #39
No, sadly it still fails with same error. I'll share some code:

preview.js
[code]

main.js
[code]

color.stories.mdx
[code]

In addition I've added comments in the scss colors, as in the example.

[2021-03-28 20:53] Sqrrl commented on #39
Thanks. Might have a clue where it's coming from. Still not sure why I can't reproduce it.

Could you provide the stacktrace for the "You tried to parse SCSS ..." error?

[2021-03-28 21:16] aasen commented on #39
I'm guessing its my fault...

[code]

[2021-03-29 08:41] Sqrrl commented on #39
Could you try out v1.01? Might solve your issue.

[2021-03-29 09:35] aasen commented on #39
It works!

There is a design bug under approx 1000px page width on table, but except that it works beautifully.

My colors was initially set with sass variables, and that don't work here, so I'll have to set them differently for this.

Great work, thanks a lot for taking time to help me out.

[2021-04-01 21:04] #39 closed

[2021-04-01 22:30] Smolations commented on #38
The upgrades look awesome!! I also linked our design team to the demo (they're aware that features are in progress) so I'm hoping they'll have some feedback as well because design isn't quite my forte. 😋

**General Feedback:**
- i really like the addition of the DESIGN TOKENS section in the nav. will make it much easier for designers to quickly access the tokens.
- i LOVE the previews! i can tell

[2021-04-09 07:43] danielo515 opened #40 "Any way to compile sass?"
Hello,
I would love to use this addon, but all mu colors are generated.
Is any way to compile the sass files before extracting the values?
Thanks in advance.

[2021-04-12 08:06] Sqrrl commented on #40
Hey. So far I haven't found a good way to compile sass variable declarations in the browser and extract the necessary information. But I'm definitely open for suggestions. The same goes for Less.

[2021-04-13 12:48] danielo515 commented on #40
Maybe it is possible to use sass interop with Javascript? That way at least sass variables can be used

[2021-04-21 15:24] tiaanduplessis opened #41 "Border radius presenter sizing when"
Hi 👋🏻

Thanks for maintaining this package. I'm currently experiencing an issue when using a large value with the border-radius presenter. The final output is quite large.

 E.g. `999px` results in:

<img width="1208" alt="Screenshot 2021-04-21 at 17 23 24" src="https://user-images.githubusercontent.com/18066992/115579277-4af92b80-a2c6-11eb-9b15-04ea9ba70dc6.png">

I believe this is due to the way

[2021-04-21 16:01] Sqrrl commented on #41
Right … Didn‘t consider large values here. I‘ll think about a better way to present these values. Thanks for the feedback.

[2021-04-23 06:44] Sqrrl commented on #38
Thanks for the feedback.

A global reset button sounds nice.

Not really happy with it either. Really not sure how to solve this. The old way of showing all tokens on one screen had its problems, too.

I haven't tested it myself. But you should be able to use it with CSF as well. See: https://storybook.js.org/docs/react/writing-docs/docs-page#remixing-docspage-using-doc-blocks

Definitely. Still t

[2021-04-28 09:28] AndrisValisins opened #42 "JSON and XML file support"
HI, thanks for great plugin.

Is there any support to load JSON or XML files?
In demo files the is a theo.token.json file, but it looks that its values are not imported.

[2021-04-28 09:29] Sqrrl commented on #42
Hey. [Theo](https://github.com/salesforce-ux/theo)-support is on my todo list, but not ready yet.

[2021-05-10 10:27] kiwi-admin commented on #40
Since the Storybook uses Webpack. You can leverage [sass-loader](https://webpack.js.org/loaders/sass-loader/) to compile your SASS files into single file. Preserve the CSS token annotations and point the add-on to it.

[code]

[2021-05-10 11:25] Sqrrl commented on #40
Sass won't compile variable declarations to css variables, will it? So if I don't miss anything, this would result in a index.css without any token declarations.

[2021-05-10 15:47] kiwi-admin opened #44 "Disable the add-on tab"
Is it possible to disable the "Design Tokens" Addon tab and still use Design Token Doc Blocks?

For example Essential's addons use the following [disabling option](https://storybook.js.org/docs/react/essentials/introduction#disabling-addons) syntax.

I've seen the [active](https://github.com/UX-and-I/storybook-design-token/blob/60ff5c31aa52bcbc02158ad7afdf6d07195d6169/addon/src/register.tsx#L16),

[2021-05-25 07:25] bddjong commented on #1
I'm also very interested in component-level token documentation. I'm currently looking for a way to document design tokens in storybook, and although the plugin is great for global design tokens which are design system-wide, it's not very practical to have every component show up in the plugin at all times. In our case, component-specific tokens could be identified through a name prefix. e.g. `--d

[2021-05-26 10:29] Sqrrl commented on #1
You could use the [doc blocks](https://github.com/UX-and-I/storybook-design-token#design-token-doc-block) to add component-specific tokens to your component docs. You would just need to add separate annotations to your component-specific tokens.

[2021-06-02 11:39] AnnekaSillitoe opened #46 "Feature Request: importing values from a `.ts` file"
We have our tokens in a `.ts` file as we're using https://stitches.dev/

It would be great to be able to pick up our tokens from our file to use in Storybook for both documentation purposes and customisation of components.

Is there any plan to add the ability to do this?

[2021-06-07 15:40] frenchki commented on #37
@cherylcarpenter @Sqrrl
Any update on this issue? I am having the same issue with it not working correctly with the latest version of storybook (6.2.9) and storybook-design-token (1.0.2)

[2021-06-17 12:13] spaceribs opened #50 "Incompatible with Webpack 5"
When adding this addon to a storybook using webpack 5, the following error occurs:

[code]

Adding `resolve.fallback` to the webpack configuration per the instructions does not seem to work for me.

[2021-06-17 13:40] #11 closed

[2021-06-17 13:46] Sqrrl commented on #11
Big shout-out to @BilelJegham for implementing this. Released with v1.1.0. Example is in the Readme.

[2021-06-17 13:47] Sqrrl commented on #50
Thanks for reporting. I will have a closer look as soon as possible.

[2021-06-17 13:54] Sqrrl commented on #46
Hey, thanks for your request.

There are definitely plans to support some kind of JSON design token specification. Right now I am considering to implement a [Theo](https://github.com/salesforce-ux/theo) parser, since it is reasonably widespread.

Unfortunately it wouldn't be practical to implement parsers for all the different formats used by various CSS-in-JS libraries. But feel free to open a pu

[2021-06-19 13:01] bddjong commented on #1
@Sqrrl That does work, but it causes some tokens to show both on the addon tab and in the docs page. If you have a lot of components, that causes the addon tab to fill up rapidly making it hard to find the global tokens that apply to the entire library. Is there any way to exclude certain @tokens from the addon tab?

[2021-06-30 19:39] nategreen commented on #42
@Sqrrl Is [style dictionary](https://amzn.github.io/style-dictionary/#/) support on the todo list as well?

[2021-07-01 18:58] yngvebn commented on #50
Seems the problem is that the Webpack config for the Storybook manager isn't pluggable, so there aren't any way of adding the resolve.fallback to the build...

[2021-07-01 21:49] Smolations commented on #38
Seeing as v1.1.0 is the current version, and I was able to spot-check that you are no longer referencing old v5.x storybook modules, I'm gonna close this issue. Thanks @Sqrrl !!  😋 👏

[2021-07-01 21:49] #38 closed

[2021-07-02 01:33] Smolations opened #52 "Unused token section appearing as tab and out-of-place token annotations"
Hello again! 😁

So I _finally_ got around to doing some storybook upgrades and am currently pointing at the most recent version (6.3.2) so it seemed logical to upgrade your addon as well, since I was previously on 0.x.x. Nice to see the new layouts and features! I have two issues though, and I'm happy to open a second issue if needed, but the most pressing issue is this empty tab:

<img width="907

[2021-07-02 07:17] Sqrrl commented on #42
@AndrisValisins I found a workaround. Maybe you could give it a try. The idea is to let Theo add the token comments to the style output. Here is an example with custom properties:

`theo src/theo.json --transform web --format custom-properties.css --dest src/styles`

**theo.json**
[code]

The trick is to add a comment to the first prop of every category.

@nategreen Style Dictionary seems to have

[2021-07-02 07:32] #41 closed

[2021-07-02 07:38] Sqrrl commented on #52
Thanks for reporting. Should both be fixed with v1.1.1

[2021-07-02 18:08] Smolations commented on #52
Holy crap @Sqrrl you're a beast!  But I just pulled down the new update and both issues still persist. Is there a way I can enable any debugging information so I can provide you with additional info?

[2021-07-04 10:32] Sqrrl commented on #52
I though I was able to reproduce your issues. Could you check your yarn.lock/package-lock.json and check that you have v1.1.1 installed?

I will check the issues again.

[2021-07-06 18:11] Smolations commented on #52
@Sqrrl I did check the lock file and it had the updated version, but something must have been off on my end. I removed node_modules and reinstalled and now it appears both issues are fixed. Killer response time, thanks!  👏 👏 👏

[2021-07-06 18:11] #52 closed

[2021-07-15 18:29] Ryuno-Ki commented on #50
Affects me, too.

Is there any update?

[2021-07-16 09:29] Sqrrl commented on #50
I think I found the issue. Could you verify that `v1.2.0-beta.0` fixes it?

[2021-07-17 18:16] Ryuno-Ki commented on #50
`npm i storybook-design-token@next`, enabling it in `.storybook/main.js` and I can see the Design Tokens again!
Thank you, @Sqrrl!

[2021-07-21 21:37] aranoe commented on #42
Maybe it also makes sense to search for file names rather than comments in the files?

For example it will pick up `colors.scss` as the `Color` presenter?

[2021-07-23 06:54] Sqrrl commented on #50
Published as v1.2.0

[2021-07-23 06:54] #50 closed

[2021-08-05 11:16] lmestel commented on #44
You can just remove the addon from the `addons` array in main.js. The DesignTokenDocBlock still works.

[2021-08-07 10:01] edoardocavazza opened #53 "Storybook modules as peer dependencies?"
Hello! Thank you for this addon, it is very very useful. I noticed that core Storybook modules like `@storybook/addons`, `@storybook/components` and `@storybook/theming` are treated as addon's dependencies. Shouldn't they be defined as peer dependencies instead? Any downside?

[2021-08-13 13:05] Sqrrl commented on #53
Hey. At least I couldn't find a framework package that doesn't include these dependencies. I'll check if they can be removed with the next release.

Only downside would be that you'd have to install these packages yourself if the peer dependency versions don't match, right?

[2021-08-17 12:56] yakky commented on #36
@Sqrrl sorry for getting back to you so late.

Showing the raw svg value in the presenter  (see image) has in many cases little value.
![image](https://user-images.githubusercontent.com/714711/129729126-cab44d24-9304-4d86-9d94-85e461dff7c3.png)

It could be useful to have a way to hide (or not render) the value column when rendering svg files and display the name and rendered svg

[2021-08-18 10:23] dexster opened #55 "Bug: Encountered two children with the same key"
This error occurs when using design tokens in an Angular project.

![Screenshot 2021-08-18 at 12 10 14](https://user-images.githubusercontent.com/6392334/129880664-7612d974-bdfb-4fed-8778-56c1cae9338f.png)

This error occurs on a clean install of Storybook 6.3.7 and also 6.4-alpha.30 for Angular. The error appears for each CSS variable in the stylesheet.

To replicate:

1. `ng new testtoken`
2. Yo

[2021-08-18 12:10] yakky commented on #36
I implemented a PoC and I can open a PR to discuss this further

[2021-08-18 12:13] yakky opened #56 "Allow to define custom categories on SVG icons"
Currently there is no way to define categories for SVG icons, like it's available for the other tokens

In case a design system contains lots of icons the resulting page is confusing and not friendly.

By using data attribute on each SVG we can provide a category name, group icons according to this category and use the category name in DesignTokenDocBlock to display the corresponding tokens.

[2021-08-18 15:53] resource11 commented on #55
Same issue here.

I'm using
[code]

[2021-08-20 08:40] Sqrrl commented on #55
The addon doesn't handle duplicate token definitions at the moment. I'm assuming you defined the token (--PRIMARY-COLOR) multiple times in the stylesheets you import in your preview.js.

[2021-08-20 08:42] Sqrrl commented on #36
Sure, sounds good.

[2021-08-20 08:47] Sqrrl commented on #56
Sounds reasonable and should be low effort. I'll try to fit it in the next version.

[2021-08-20 08:49] Sqrrl commented on #44
This should do the trick.

[2021-08-20 08:49] #44 closed

[2021-08-20 08:59] dexster commented on #55
No. I tested with a clean project which has no style imports anywhere, only the token config pointing to one stylesheet that has this in it
[code]

[2021-08-20 09:15] Sqrrl commented on #55
Thanks for the update. I will try to reproduce this.

[2021-09-15 13:27] 2rule commented on #55
Hello there, has there been any updates on this? I just came across this addon and I think it's fantastic! @Sqrrl 🎉

[2021-09-15 14:05] Sqrrl commented on #55
Pretty busy right now. But it‘s on top of my list.

[2021-09-23 18:20] edoardocavazza opened #59 "Issues with Storybook v.6.4.0 beta?"
Hello! I am trying to update my storybook to the v6.4.0 beta version, but it breaks when using
[code]
at this lines:
[code]
because it seems that `context.parameters` is not defined anymore. It is a known bug? Is there any workaround?

Thanks!

[2021-09-24 07:39] Sqrrl commented on #59
Hey. Thank you for reporting. I would like to wait for 6.4 to be out of beta before adapting to the context changes that come with it.

I will keep this issue open.

[2021-09-24 08:05] Sqrrl commented on #55
The issue is caused by files being accidentally parsed twice.

Could you check if v1.2.2 fixes it for you?

[2021-09-26 19:28] resource11 commented on #55
YES! This works for me. No more triplicate token definitions in React/TS Storybook instance. Thank you, @Sqrrl!

[2021-09-27 06:40] #55 closed

[2021-10-01 10:28] Sqrrl commented on #59
Thank you for your PR. Much appreciated. Release with v1.2.3.

[2021-10-02 23:46] edoardocavazza commented on #59
Thank you!

[2021-10-02 23:46] #59 closed

[2021-10-04 13:23] brunaschneiders opened #61 "The Font Weight presenter isn't being applied correctly"
Hello,

First of all, thank you for this excellent project.

I'm having a problem using the Font Weight presenter. It doesn't seem to being applied correctly. See the code below:

[code]

See the result:
![Screenshot from 2021-10-04 10-21-45](https://user-images.githubusercontent.com/64864277/135858910-01ae5b61-6e87-456a-9ab7-eaac2fccf8f1.png)

[2021-10-04 13:33] brunaschneiders opened #62 "Letter Spacing support"
Hello,

Is there any support to `letter-spacing` presenter?

[2021-10-05 09:35] laddi-netapp commented on #32
I see that `alias` has been removed in later versions, was that on purpose?  Would like to use that if possible...

[2021-10-07 20:31] brunaschneiders opened #63 "DesignTokenDocBlock not working with npm"
Hello all!

I'm having trouble us
ing DesignTokenDocBlock installing via npm. This error appears on the console:
![Screenshot from 2021-10-07 17-30-44](https://user-images.githubusercontent.com/64864277/136457713-d170439f-1bc5-407a-a669-e52605c33686.png)
![Screenshot from 2021-10-07 17-31-36](https://user-images.githubusercontent.com/64864277/136457833-07beea1b-be22-4674-9adc-876591aa8fdb.png)

Th

[2021-11-05 08:35] #56 closed

[2021-11-12 13:00] spaceribs opened #71 "Webpack 5: raw-loader deprecated, require.context approach no longer working"
After the upgrade to builder-webpack5 and 6.3.12 on storybook, I noticed that the approach suggested in the readme is no longer working. Attempting to load all scss files in a folder no longer provides the sourcecode:

[code]

It looks like the `raw-loader` approach is no longer going to be supported moving forward (see: <https://webpack.js.org/guides/asset-modules/#replacing-inline-loader-syntax>

[2021-11-26 08:43] Sqrrl commented on #71
Hey, thanks for your research. I created a small demo project here: https://github.com/UX-and-I/storybook-design-token/tree/webpack5-demo/demo-webpack5

Using the raw loader, CSS and SCSS files are loaded correctly. SVG files are not. Not sure, why scss files are affected in your project, but not in the demo.

Tha said, I'll try to come up with a better loading strategy for a future release.

[2021-11-26 09:14] Sqrrl commented on #71
I published a new version using the new asset modules, if webpack5 is used.

@spaceribs Would be great, if you could check if it is working for you.

**Installation:**
`npm add storybook-design-token@webpack5` or `yarn add storybook-design-token@webpack5`

**preview.js adjustments:**
[code]
Changes: new query syntax `?raw`; `.default` removed after tokenContext call

[2021-11-26 13:44] spaceribs commented on #71
Hey @Sqrrl thanks for the reply! Using the changes above, I got svg icons working correctly, but my scss variables are still having trouble. To isolate the problem, I'm just loading your example file via:

[code]

I console.log'd `scssTokenFiles`, and the JSONified output is below:

[code]

Note that it does seem to still be trying to use the style-loader, as the original file did not have `$brand

[2021-11-26 13:52] Sqrrl commented on #71
I tried to exclude all other loaders when using the raw strategy. It worked for css files, as they were passed through the style-loader before I added the following to the webpack config. https://github.com/UX-and-I/storybook-design-token/blob/046c669ac68306bec5bda8d7f0222cbf98104b26/addon/src/preset.ts#L8-L16

Could you check your webpack config for loaders matching scss files? Maybe my lines abo

[2021-11-26 14:05] spaceribs commented on #71
@Sqrrl I can validate that it's not Storybook's module loader that's the problem, it's angular's:
[code]
That said, it does seem to be properly outputting the source above, and fixing things like imports seems like a good idea anyway, so at least in my case it may not even matter.

[2021-11-27 13:08] spaceribs commented on #71
@Sqrrl The CSS demo worked, so it's entirely due to angular preprocessing the SCSS files beforehand. I think you can consider this validated with that minor caveat.

[2022-01-26 15:52] drwpow opened #74 "Support for new Design Tokens format?"
I ran across this addon looking for something to display our design tokens expressed according to the upcoming [W3C Design Tokens schema](https://design-tokens.github.io/community-group/format/), which is a JSON format. It’s still new and somewhat in flux, but I think the overall direction and basic boundaries have been solidified and from here it’s minor tweaks and tiny changes.

I’ve been migrat

[2022-01-28 13:41] #13 closed

[2022-01-28 13:57] Sqrrl commented on #74
Sounds good, and should be pretty straight-forward to implement. I just won't be able to do it in the next few weeks/months.

If you'd like to give it a shot, the strategy could look something like this:

- add JSON files to the webpack loader
- implement a parser for the W3C Design Token files (like the postcss.parser.ts and svg-icon.parser.ts) that extracts and maps categories and tokens from th

[2022-02-03 08:41] FjedorGaede commented on #71
Hi,
I seem to run into a similar problem as we are working on an Angular project with Storybook and Webpack5. I set it up as @Sqrrl  suggested. I took the `tokens.css` and `tokens.scss` from the demo and put them into out project. The CSS file is read properly, but the SCSS content is just the comments without any values. Is this what you @spaceribs encountered in your project? You said the Angula

[2022-02-03 11:32] spaceribs commented on #71
That's what I encountered and I wasn't able to find a solution myself.

[2022-02-07 19:24] Smolations commented on #63
I have actually encountered this same issue recently. Hadn't realized it may have been happening since this issue was reported in October. It doesn't seem to make a difference when static storybook is built/deployed, but I am seeing this error in development and it prevents the addon panel from appearing (and somehow breaks a figma panel we install as well 🤔 ).

[2022-02-07 20:09] Smolations commented on #63
Following up, I just asked a teammate to see if he was seeing the same issue, and he could not. Therefore I tried deleting my `node_modules` and reinstalling at that eliminated the error in development. @brunaschneiders Maybe try that and see if it works for you?

[2022-02-12 09:44] maremarismaria commented on #71
I'm facing the same situation working on a fresh React project (CRA + TS). I put the code from the demo and only the tokens from the CSS file are shown. It seems the SCSS variables are just ignored. I also set it up as @Sqrrl suggested, but it does not fix the problem. Actually, Storybook crashes due to

[code]

BTW since I am using React, I don't think the Angular loader is the problem.

[2022-02-14 08:36] laddi-netapp commented on #71
I get the same error if I update from Storybook 6.4.9.  I'm using the web-components framework so it's neither Angular nor React specific.

[2022-02-16 14:27] thomasdahlberg opened #76 "Slow performance when using addon with 1000 style tokens"
I have been using the storybook-design-token addon with file that includes roughly 1000 style tokens. I'm not seeing any build issues, but once storybook is booted up in the browser I'm seeing a lag of three to four seconds when I navigate between sections of SB.

https://user-images.githubusercontent.com/56367563/154284883-6cccc218-cc7d-48a2-9388-f3fe390cadc0.mov

Is there a recommended capacity

[2022-02-18 01:06] CodeByAlex commented on #1
Hey @Sqrrl - Im thinking the same as @bddjong here. There can be so many tokens that arent used in a every component. Other than the doc blocks, is there a path forward here?

[2022-02-18 01:09] CodeByAlex commented on #76
Hey @Sqrrl - having a similar problem here. The SB is getting slower as we scale - any pro tips here?

[2022-02-18 01:10] CodeByAlex commented on #74
@drwpow this is a great idea - was there any movement on this. We are using Style Dictionary and instead of adding comments in the output, it would be great if the addono could just read in the json

[2022-02-18 09:50] laddi-netapp commented on #76
It would be helpful to be able to disable the panel as I see less benefit in that than using the doc blocks anyway.

[2022-02-18 12:27] Sqrrl commented on #76
I'm looking into the performance issues.

@laddi-netapp You can deactivate the addon panel by removing it from your main.js. The doc blocks should still work. See https://github.com/UX-and-I/storybook-design-token/issues/44#issuecomment-893375807

[2022-02-18 12:31] laddi-netapp commented on #76
Yes and no, when I do that, I get all kinds of problems, it seems:
[code]

[2022-02-18 12:45] laddi-netapp commented on #76
Also, `DesignTokenDocBlock` doesn't display anything once the plugin has been disabled, at least not for me.

[2022-02-18 14:57] Sqrrl commented on #76
The rendering itself seems to be the bottleneck. Some sort of virtualized scrolling for longer tables should fix it. I'll put it on the list, and try to get to it as soon as possible.

[2022-02-18 21:19] drwpow commented on #74
I’ve been building a parser for the new W3C Design Tokens format, and it’s in such early stages it’s changing so rapidly. It started out being basically the same as style dictionary, but a recent change has made the two formats diverge (e.g. `$value` rather than `value`). Will probably wait a little bit for the Design Tokens spec to settle before starting.

But if anyone else wants to yield better

[2022-02-19 22:20] CodeByAlex commented on #76
Thanks @Sqrrl!

[2022-03-02 10:15] lgradzki-cksource commented on #40
would be great to have it!
[code]
add-on doesn't return compiled hsla color value but a function

[2022-03-02 10:24] Sqrrl commented on #40
This was a deliberate design choice for preprocessed styles (Sass, Less). Afaik there is no reasonable way to compile the scss styles and not lose the token/variable information. (see https://github.com/sass/sass/issues/3091#issuecomment-870969698)

[2022-03-04 10:14] thayna-oliveira commented on #71
Same problem here, SCSS files aren't working with storybook 6.4.19 + webpack 5 :cry:

[2022-03-04 12:09] Sqrrl commented on #76
Hey. Just published v2.0.0-beta.0 with some "experimental" changes. It also implements virtual scrolling for tables and pagination for card views to get rid of the performance issues.

Would be great if you check it out.

**Migration:**

- Bump addon version to `v2.0.0-beta.0`
- Get rid of the token file loading in your `.storybook/preview.js`

Before:
[code]

After:
[code]

[2022-03-04 12:12] Sqrrl commented on #71
Hey. Just published v2.0.0-beta.0 with some "experimental" changes. It implements a different way of loading source files and simplifies the addon configuration. I hope it gets rid of the issues with webpack 5.

Would be great if you could check it out.

**Migration:**

- Bump addon version to `v2.0.0-beta.0`
- Get rid of the token file loading in your `.storybook/preview.js`

Before:
[code]

Afte

[2022-03-04 12:13] Sqrrl commented on #63
It's been a while. I'm closing this issues. Please re-open if the problem still exists.

[2022-03-04 12:13] #63 closed

[2022-03-04 12:14] Sqrrl commented on #61
I'm closing this due to inactivity.

[2022-03-04 12:14] #61 closed

[2022-03-04 12:16] Sqrrl commented on #37
Hey, this issue has been inactive for a while. Please re-open if you've still got issues with a recent version of the addon.

[2022-03-04 12:16] #37 closed

[2022-03-04 14:11] thayna-oliveira commented on #71
Hi @Sqrrl, I checked here and it works like a charm!! Thank you, you saved my day!!! :heart: :heart_eyes: :sparkles:

[2022-03-04 16:12] thomasdahlberg commented on #76
Hey @Sqrrl ! Tested 2.0.0-beta.0 on a repo with roughly 1100 tokens and the performance was great. Your changes seemed to have worked to returning performance to normal.

[2022-03-17 08:20] #76 closed

[2022-03-17 08:21] Sqrrl commented on #71
Great. I'm closing the issue.

@spaceribs Please re-open, if your issue wasn't resolved.

[2022-03-17 08:21] #71 closed

[2022-03-23 12:35] esbenjuul commented on #74
This is also a feature I would be using! I would love to assist in the development if I can.

[2022-03-28 15:09] ZeroTwoFour opened #80 "SCSS Custom variable name compilation"
SCSS Example:

`$someVar: 'myprefix';`

` /**`

`   * @tokens Colors`

`   * @presenter Color`

`   */`

`--#{$somevar}-color: var(--#{$someVar}-my-col);`

Currently complex names are not compiled properly

[2022-03-30 11:45] sagr-a commented on #4
Hi, I am using the storybook-design-token in my project now but I don't have the option to modify the values in Storybook. I just see a fixed value. This seems like something that you have already added. Any ideas why I'm not seeing this?

[2022-03-30 13:15] Sqrrl commented on #4
I'm assuming you are using scss or less. For now the live editing is only available for CSS tokens (using [setProperty](https://developer.mozilla.org/en-US/docs/Web/CSS/Using_CSS_custom_properties#values_in_javascript)). I'm not aware of a reasonable implementation that works for variables in pre-processed styles.

[2022-03-31 09:15] exZerry opened #81 "Console error on Mozilla Firefox"
[storybook-design-token](https://github.com/UX-and-I/storybook-design-token)/[addon](https://github.com/UX-and-I/storybook-design-token/tree/master/addon)/[src](https://github.com/UX-and-I/storybook-design-token/tree/master/addon/src)/[components](https://github.com/UX-and-I/storybook-design-token/tree/master/addon/src/components)/TokenValue.tsx

Line 53

Causes console error on Mozilla Firefox du

[2022-03-31 09:52] exZerry commented on #81
https://github.com/UX-and-I/storybook-design-token/pull/82/

[2022-03-31 15:15] jbltx opened #83 "DesignTokenDocBlock Tab per Context"
Joining #14 and #15, it would be awesome to support multiple contexts (more generic than "themes") and organize tokens per context in tabs.

Like this example:

[code]

![image](https://user-images.githubusercontent.com/1284323/161088481-efb7830c-b529-4b89-ba54-893426f2f949.png)

[2022-04-01 09:22] umutHatipoglu opened #84 "Is there way to configure "Design Tokens" Addon tab"
I would like to display only Colors in the tabs and disable 'SVG Icons' tab. I try to set the tabs array in parameters like following, but this did not help

[code]

[2022-04-01 09:31] Sqrrl commented on #81
Merged and published (v2.0.1). Thank you very much.

[2022-04-01 09:33] #81 closed

[2022-04-08 11:32] benbender opened #87 "Support for @storybook/builder-vite?"
Hey,

just wanted to ask if support for https://github.com/storybookjs/builder-vite is planned? Would love to use the plugin in my sb-vite-svelte-setup!

Thanks for your work!

[2022-04-08 13:52] marcoscosta90 opened #88 "Is there a way to disable design tokens in addon tab?"
I'd like to do the same as in controls, but I haven't found a way to do it with Design Token

[code]

[2022-04-11 12:48] lcoalves commented on #88
I have the same problem!

[2022-04-12 09:58] squarefeet opened #91 "design-tokens.source.json loaded using absolute URL"
Hello,

Thank you for this addon, it's been super-useful. I've got it all nicely integrated and working well, apart from when I deploy to my host. I've had a look through the documentation and all issues, but haven't come across anything related.

After building Storybook, I deploy to my host, and the location of it isn't at the root, i.e. `https://my-host.com/sub-path/storybook/index.html`. This

[2022-04-12 10:14] Sqrrl commented on #91
I think that might be an oversight by me. A PR would be great. Thanks for reporting.

[2022-04-13 07:05] #91 closed

[2022-04-13 07:07] Sqrrl commented on #88
Thank you @lcoalves. PR is merged and released as part of v2.1.0.

[2022-04-13 07:10] Sqrrl commented on #76
As it came up here. With v2.1.0 you can disable the addon panel. See https://github.com/UX-and-I/storybook-design-token#disable-the-addon-panel

[2022-04-13 07:16] Sqrrl commented on #87
Hey, I love Vite and would like to see it supported. That said, this addon relies heavily on webpack's loaders and addons, and supporting Vite would be a bigger task I can't get around to right now.

[2022-04-13 07:18] Sqrrl commented on #84
Sounds reasonable. I'll give it a shot as soon as possible.

[2022-04-13 13:49] #88 closed

[2022-04-17 10:06] acherkashin opened #93 "Feature Request: ability to provide a custom function to create Token"
Hi! First of all, thank you for this great storybook addon. I'm looking forward to integrating it for my work project. But currently it is very hard to display my design tokens with this addon due to the following reasons:

# 1. Svg

I need to modify every svg  file to add either `id` or `data-token-name`. It makes it hard to use the addon for any existing project.

## Possible solution

To make i

[2022-04-17 18:24] edoardocavazza opened #94 "Feature request: override design token value"
Consider the case:

**_base.css**
[code]

**index.css**
[code]

At the moment, the addon collects two entries, showing the variable twice in the Storybook.

We use to extend a primer css library in order to make our styles consistent across projects. I know it may not be a common case, but it makes sense to me that variable values are merged by the addon. Would you consider this change?

Thanks!

[2022-04-20 05:39] acherkashin opened #95 "Feature Request: Search for tokens"
Hi!
Thank you for your awesome addon, really like it 👍.

I think it is really important to be able to search tokens. For example, [material-ui](https://mui.com/material-ui/material-icons/) provides an ability to search icons in the documentation.

![image](https://user-images.githubusercontent.com/9947582/164157756-68d0b695-83ec-4c3b-bd4b-e24adc3088b9.png)

I started working on it and will create

[2022-05-05 16:56] osanzharevskyy opened #99 "Animation/Border are not working"
Project setup:

- i've setup project with **tsdx**;
- packages:
  `"devDependencies": {
      "@babel/core": "^7.17.10",
      "@babel/helper-create-class-features-plugin": "^7.17.9",
      "@size-limit/preset-small-lib": "^7.0.8",
      "@storybook/addon-docs": "^6.4.22",
      "@storybook/addon-essentials": "^6.4.22",
      "@storybook/addon-info": "^5.3.21",
      "@storybook/addon-links": "^6.

[2022-05-05 22:25] DaveMBush opened #100 "Tokens parsing can't find the end if the new token starts after a closing curly brace"
I have code similar to

[code]

When this is parsed, the parser can't find the end of Base-Colors so the Dark-Colors are included in the Base-Colors render block.

I've gotten around this by placing

[code]

Right before the closing curly brace.

[2022-05-10 23:57] DaveMBush opened #101 "Using webpack5, dependencies get wiped out by addFilesToWebpackDeps()"
As the title says. If you use webpack5 to build your code, the function [addFilestoWebpackDeps()](https://github.com/UX-and-I/storybook-design-token/blob/master/addon/src/plugin.ts#L22)  will wipe out everything except what gets passed via the files parameter.

I discovered this by using this plugin under Angular.  Adding this plugin makes it so that none of the changes I make to my TS files show

[2022-05-11 07:51] joaquinmarti opened #102 "Tokens scan happens before Postcss functions are executed"
I have Postcss in place to process my CSS files before sending them to the browser. I am using the Tailwind theme function in this example, but it could be any other Postcss function that outputs a value.

[code]

If I understood correctly, this addon parses the CSS source files before they're processed, so this it shows the original function on the Design tokens panel:

<img width="686" alt="Capt

[2022-05-11 15:45] JanSvejda commented on #101
I can confirm the above. Took me ages to find out what was causing the failing hot reload in storybook.

[2022-05-12 05:42] RichardNorton opened #104 "SVG icons are being found outside the project"
storybook v14.1.4
storybook-design-token v2.1.0

We have our storybook project in a directory with a sub-directory (assets) that contain our SVGs, but the scan finds SVGs in folders outside our project folder.

Can we restrict where the scan looks?

[2022-05-12 06:51] Sqrrl commented on #101
Thank you for your PR @DaveMBush. Merged and published with v.2.2.0.

[2022-05-13 06:58] Sqrrl commented on #80
Hey, thank you for your feedback. Right now the addon is very conservative when it comes to evaluating scss or less statements. I'll look into it, but can't guarantee that it's a quick fix.

[2022-05-13 07:04] Sqrrl commented on #83
I like your first design, which should work without any breaking changes. Just don't know when I will be able to give it a go. A PR would be really appreciated.

[2022-05-13 07:09] Sqrrl commented on #93
Hi. Thanks for your feedback. Point 1 should be resolved thanks to your PR, right?

For the second request: I don't see a reason why this wouldn't work. As this is a very specific feature, I just don't know how high I can prioritize it.

[2022-05-13 07:11] Sqrrl commented on #94
I think this is a regression and should be working like you described it. I will look into it.

[2022-05-13 07:14] Sqrrl commented on #102
You could try and specify a custom glob pattern that only picks up for processed styles.

https://github.com/UX-and-I/storybook-design-token#specify-a-custom-glob-for-your-token-files

[2022-05-13 07:14] Sqrrl commented on #104
You can specify a custom glob pattern. See https://github.com/UX-and-I/storybook-design-token#specify-a-custom-glob-for-your-token-files

[2022-05-13 07:29] acherkashin commented on #93
@Sqrrl yes, the first issue is fixed. I could work on the second feature when I have time, but I'm not sure how can I pass function from the project that uses addon to addon itself. Do you have any ideas? 🤔

[2022-05-13 07:38] Sqrrl commented on #93
I would prefer passing the function via the preview.js. E.g.

[code]

Then you could hook into useTokenTabs.ts and do the transformation during runtime.

[2022-05-13 07:52] acherkashin commented on #93
Thank you! I will work on it as soon as I have time, I think it will happen soon! 👍

[2022-05-13 07:54] joaquinmarti commented on #102
Thanks for the answer @Sqrrl. Storybook is embedding a `style` tag with the transformed css directly on the preview markup, instead of creating a processed file, so I don't think a glob pattern would help here if I understood correctly your proposal.

This is how the tokens look like:

<img width="243" alt="Captura de pantalla 2022-05-13 a las 9 46 32" src="https://user-images.githubusercontent.co

[2022-05-13 13:35] lesyk-lesyk opened #105 "How to indicate block end?"
Imagine, I have the next css styles (with 2 presenters - `Color` and `FontSize`):

[code]

Page `design.mdx`:
[code]

And the result page:

![image](https://user-images.githubusercontent.com/16646570/168294358-03aa19fd-9f47-4ec9-9541-d092859841eb.png)

------
Is there a way to indicate the end of the colors variables block? E.g with some annotation comment like `/* @end Colors */`
[code]

[2022-05-13 14:41] lesyk-lesyk opened #106 "Unstable variables preview"
I have CSS like this:

[code]

When I run locally in dev mode - everything looks good (left side on screenshot)/
When I build and start the local static server (or deploy to chromatic.com) - examples look broken (right side on screenshot)

![image](https://user-images.githubusercontent.com/16646570/168302712-d0353a94-c076-4820-a0ac-e6eb0ef1c433.png)

Sometimes when I refresh the page - examples be

[2022-05-13 20:50] lesyk-lesyk commented on #106
The issue was related to styled-components and fixed by adding decorators with `GlobalStyle`  for mdx pages like this:

[code]

[2022-05-13 20:50] #106 closed

[2022-05-14 11:13] lesyk-lesyk commented on #105
Currently, I use a workaround with `@tokens End`:

[code]

And I am just not using `categoryName` equals `End` in any `.mdx` page.

But maybe there is a better solution?

[2022-05-14 11:30] lesyk-lesyk opened #107 "LineHeight presenter preview issues with big numbers"
Seems like rows for `@presenter LineHeight` should have dynamic height to fit all 3 `Lorem ipsum... ` lines with different line-height:

![image](https://user-images.githubusercontent.com/16646570/168423669-bbefac7d-c80e-4ab1-b16b-956ab294acc1.png)

[2022-05-17 00:15] RichardNorton commented on #104
Perfect

[2022-05-17 00:15] #104 closed

[2022-05-27 14:33] MMMalik opened #108 "Preserve CSS variables in the Presenters"
## Type of report

Feature request

## Background

Currently, values of CSS variables are extracted at build time and presenters use fixed values. This works fine for compile-time variables such as Sass variables but imposes unnecessary limitations in case of CSS variables.

Example:
<img width="383" alt="image" src="https://user-images.githubusercontent.com/12546548/170719896-570eb186-174c-4d32-b

[2022-06-03 07:38] #101 closed

[2022-06-03 07:39] Sqrrl commented on #95
Really useful. Thank you very much. Released with v.2.3.0.

[2022-06-03 07:41] acherkashin commented on #95
@Sqrrl Thank you for so quick response and merging it!

[2022-06-03 07:41] #95 closed

[2022-06-06 05:45] RichardNorton opened #112 "DESIGN_TOKEN_GLOB is ignored when building"
When we build Storybook the resulting dist/design-tokens.source.json file contains all SVGs as DESIGN_TOKEN_GLOB appears to be ignored. When we serve Storybook DESIGN_TOKEN_GLOB appears to be used as we only see the SVGs we want.

Is this a bug or are we missing something?

[2022-06-07 05:28] RichardNorton commented on #112
My mistake, our deployment CI was not using the DESIGN_TOKEN_GLOB  env variable.

[2022-06-07 05:28] #112 closed

[2022-06-09 10:12] craftedsystems opened #113 "design-tokens.source.json not found"
File `design-tokens.source.json` does not get created.

[code]

main.js
[code]

preview.js
[code]

[2022-06-19 17:58] prodkt commented on #108
🔥🔥🔥 this! We're managing a multi-brand/multi-themed design system. This was the hang-up that stopped us from using this add-on. Had this been in place it would have been a clear decision forward for us.

@MMMalik I see there is a PR open for this potential fix. Are you using this fix in your environment and is it working stable for you? And have you any idea if the developers plan to push this thr

[2022-06-19 21:53] prodkt opened #115 "Painfully slow within the Addon Panel"
It's a night and day difference enabled and disabled. So slow there's no way we'd be able to use this with it on.

But I may be at fault here for missing some documentation around this. It's showing every single one of our tokens in every single story (in the addon panel). I'm not sure I can think of a use case we'd ever want or need all of our tokens within every Story. We'd have them categorized

[2022-06-20 08:57] MMMalik commented on #108
I've tested the fix within my project and it's working fine. However, I haven't used in production yet.

I've no idea when my PR might be merged though, or even reviewed, as I can see that things have been going rather slowly in this repo recently. Perhaps @Sqrrl could shed some light? I hope it will get some attention from project mainteiners soon since given reactions to this issue it looks like

[2022-06-23 09:46] craftedsystems commented on #113
OK thx

[2022-06-23 09:46] #113 closed

[2022-06-24 10:54] Sqrrl commented on #108
Hey, thank you for your PR and feedback. Published as v2.5.0.

[2022-06-24 10:57] Sqrrl commented on #115
The behaviour is correct. The addon panel should work as a refernce of all your tokens. The performance issue should have been fixed in a previous version using virtualized scrolling. Maybe there is a regression.

How many tokens and categories to you have?

[2022-06-24 21:34] MatteoWebDeveloper commented on #87
Same I would be interested in this plugin to work agnostically, I may help once I learn more about this codebase

[2022-06-24 22:28] MatteoWebDeveloper commented on #87
@benbender if you are interested I found a way to load tokens manually.
the addon rely on a static `design-tokens.source.json` served at the root
<img width="1240" alt="Screenshot 2022-06-24 at 23 24 47" src="https://user-images.githubusercontent.com/4461152/175707429-dede5af3-6aa9-4481-942c-45a96af2140b.png">
https://storybook-design-token-v1.netlify.app/?path=/story/components-button--button

to

[2022-06-24 23:56] oobleck commented on #40
Sass won't generate custom props automatically. That would be the responsibility of the author. But it is easy to do. A [simple example](https://dev.to/felipperegazio/css-custom-properties-vars-with-sass-scss-a-practical-architecture-strategy-1m88).

This feature would be awesome 🥳 🚀 because my preference is to maintain a map of tokens in scss and then generate the custom props from there. This gi

[2022-06-24 23:59] MatteoWebDeveloper commented on #87
I found a way to automate it. You can reuse the code of `storybook-design-token`

[code]

[2022-06-25 13:09] acherkashin commented on #93
@Sqrrl I was thinking about possible implementation and got stuck with one thing.

As I'm going to determine `presenter` and `token's category` based on the **variable name**, it doesn't make sense to add these configuration comments.

[code]

Currently I have to, otherwise my styles file will not be parsed.

<img width="522" alt="Screenshot 2022-06-25 at 16 06 56" src="https://user-images.githubu

[2022-06-28 12:09] #108 closed

[2022-06-28 12:13] Sqrrl commented on #105
I think a comment to end a block is a decent solution. I will come up with a different syntax for it, as `@tokens End` creates a new token category called "End".

[2022-06-28 12:15] Sqrrl commented on #100
Thanks for reporting. I'll look into it.

[2022-06-28 12:16] Sqrrl commented on #99
Sorry for the late response. Could you provide the stylesheet with your tokens?

[2022-06-28 12:18] Sqrrl commented on #102
Sorry for the late response. I don't know Tailwind, but supporting it would be great. I'm definitely willing to merge if you'd give it a shot.

[2022-06-28 12:52] Sqrrl commented on #107
Thanks for reporting. Should be fixed with v2.6.0.

[2022-06-28 12:53] Sqrrl commented on #105
I've added a new comment block to end token cateogries early with v2.6.0.

[code]

[2022-06-30 15:16] osanzharevskyy commented on #99
i used your file, from the samples.

[2022-07-01 15:56] osanzharevskyy commented on #99
sure, this is the whole test project - https://drive.google.com/file/d/1cmVOWzGSB8uaD4pK4mkwVuk3rHKTbZmH/view?usp=sharing, and the screenshot - <a href="https://ibb.co/FnLF2qM"><img src="https://i.ibb.co/stdZnJG/Screen-Shot-2022-07-01-at-9-52-07-AM.png" alt="Screen-Shot-2022-07-01-at-9-52-07-AM" border="0"></a><br /><a target='_blank' href='https://imgbb.com/'>image uploader</a>

[2022-07-14 19:39] emzarts commented on #7
Hello! I would love to hear if there are any updates on the ability to add custom presenters for tokens

[2022-07-15 07:12] zhanglun opened #116 "Feature request: support custom presenter"
different designers may export token files with different tools and settings. token's type may not in the [available-presenters](https://github.com/UX-and-I/storybook-design-token#available-presenters) list.

Do you have plans to support this capability?

Thanks

[2022-07-28 17:38] emzarts opened #119 "Request: allow customization of token locations"
It would be super awesome to have the ability to specify a file location for the tokens! We currently have a use case where we want to store the tokens in their own package separate from our storybook implementation. So the ability to:

1. Use files outside the compiler.context
2. specify which file paths to ignore/ not ignore

would be awesome!

This is the relevant section of the addon code:

[c

[2022-07-29 12:18] jbvolvo commented on #119
This can be achieved already? with env variables:
DESIGN_TOKEN_GLOB=../../somewhere/**/tokens-storybook.{css,scss,less,svg}

[2022-07-31 00:22] ilyamore88 opened #120 "Bad layout of the TokenTable component in Safari"
Position: relative doesn't work with tbody in Safari.

<img width="1117" alt="image" src="https://user-images.githubusercontent.com/37909603/182004417-077eaf94-c172-4f2c-8773-94837db8243b.png">

Safari: Version 15.6 (16613.3.9.1.7, 16613)

[2022-08-05 16:46] mis6ko13 commented on #119
@jbvolvo Could you please provide an example how to configure this?
I was following this doc - https://storybook.js.org/docs/react/configure/environment-variables#using-storybook-configuration, but didn't succeed...

[2022-08-05 17:42] emzarts commented on #119
This method only worked for me with the using [.env file](https://storybook.js.org/docs/react/configure/environment-variables#using-env-files. That populates the environment variables during the build phase.

[2022-08-05 17:44] emzarts commented on #119
Sorry I didn't clarify more! I would like to have the option to import from other sources than just a GLOB. Like a node module (which is filered out of the GLOB using the ignore param)

[2022-08-17 15:52] SmoliyY opened #121 "Design tokens are not displayed in story-book if there is only a category name."
## Version
`storybook-design-token`: `2.6.0`

## Steps to Reproduce
Create basic storybook with next `design-tokens`. Example:

[code]

## Current Behavior

`Animations` and `Colors` sections displayed as expected, but not `Others`.
<img width="1617" alt="Screenshot 2022-08-17 at 18 49 43" src="https://user-images.githubusercontent.com/52038205/185185452-437a194b-cde5-4256-aa35-56f3e0b11f41.png">

[2022-08-25 16:48] davidbergstrom commented on #74
Would love to see this come to life!!

[2022-09-02 19:05] brianchristopherbrady opened #122 "Feature request: specify which tabs to display"
Hi! We would like to be able to display only the colors tab and not the icons, images, etc. tabs.

Is this currently possible?

Current:
![image](https://user-images.githubusercontent.com/11062709/188220537-a27f53d8-d26d-47f9-8dd5-af865f70be09.png)

Desired:
![image](https://user-images.githubusercontent.com/11062709/188220686-99652354-5756-4a5a-b0fe-8fd0acd4c2c2.png)

[2022-09-04 23:40] griiettner commented on #116
I second this feature request. Our presenter styles does not match the ones added in this version, I wish we could have custom presenters

[2022-09-05 13:09] krisdigital opened #123 "React 18 Support"
Hello 👋,

we tried updating a project to React 18 but the dependencies for Storybook Design Token still say 16 or 17 - could this maybe be bumped up to 18, or are there more steps involved?

Thx!

[2022-09-16 13:06] Sqrrl commented on #121
Hey, I'll look into it. Passing an empty presenter should help as a workaround.

[2022-09-16 13:10] #100 closed

[2022-09-16 13:11] Sqrrl commented on #100
Hey. Should be fixed with v2.7.0.

[2022-09-16 13:12] Sqrrl commented on #120
Thanks for reporting. Could you check v2.7.0. Should be fixed.

[2022-09-16 13:14] Sqrrl commented on #87
Hey. Vite should work with v2.7.0+. It is a bit experimental, since I'm not very familiar with Vite. Would be great if you could check it out.

Please refer to https://github.com/UX-and-I/storybook-design-token#using-the-vite-builder.

[2022-09-18 10:01] r-aamir opened #125 "Feature Request: Ability to list `<symbol>` as design tokens from inline svg files"
Ability to document SVG icons from a single `.svg` `.tpl` `.html` file containing `<symbol>` elements, such as

[code]

Since I am new to this project, but with some guidance I still might be able to produce a PR :)

[2022-09-19 05:19] acherkashin commented on #93
@Sqrrl I understand that you are busy, and I appreciate your time. Could you look at my comment above when you have time?

[2022-09-19 23:12] #125 closed

[2022-09-20 16:55] krisdigital commented on #123
@Sqrrl Thx for removing the dependency! it may take some time but I will let you know if it works with React 18 when I know more 😎

[2022-09-20 20:21] Smolations opened #126 "Possible bug when reading parameters?"
Some lists of tokens, like colors, are often very long. It makes sense to have a search field for them. Others, like line height, will contain just a couple. In trying to disable the search field for just a single set of tokens in MDX fails for me. No errors, just doesn't work (input remains visible). According to the [storybook MDX blocks documentation](https://storybook.js.org/docs/react/writing

[2022-09-22 16:18] AlexMargk2112 commented on #87
Hallo,

I just tested the plugin and works fine with the default vite configurartion.
I noticed though that it fails when i have in storybook also other vite configurartion.

I have this example bellow:

[code]

[2022-09-22 19:22] Sqrrl commented on #87
This should already work. Try something like this:

[code]

[2022-09-26 07:05] AlexanderMar21 commented on #87
Hello Philipp,

I am the same person as @AlexMargk2112  but this my personal github account. i create this [repo](https://github.com/AlexanderMar21/storybook-tokens-poc) to demostrate the issue when merging a config. For this example i am just using a path alias for the src directory. The example is based on your demo-vite folder.

[code]

I am doing something like that in the cofing but still get

[2022-09-26 07:21] Sqrrl commented on #87
My bad. My example was lacking. `mergeConfig` does not mutate the the first argument, so you have to store it yourself. Also `viteFinalFactory()(config)` returns a promise that needs to be awaited.

This should work:
[code]

[2022-09-26 11:38] AlexMargk2112 commented on #87
Hi @Sqrrl .

Thanks for your instant  reply. I tried your solution at the demo-vite repo i recreated and it works.

I am implementing this solution where i am currently working now but there it doesnt work so well.
I dont get ant errors but the loading time in development might take 6-7 minutes till something loads on the screen.

I tried diffrent styles of configurartion

1st :

[code]

2nd (as i

[2022-09-27 17:56] Smolations opened #127 "Tokens source JSON not generated for published storybook"
Once I deployed my changes where your addon is upgraded and in storybook v6.5.9, I was unable to view the standalone MDX documentation I created for my tokens. It works fine in dev, but when i build storybook to be deployed, there is no `design-tokens.source.json` artifact in my `dist/storybook/` directory and I receive a 404 on the request at the deployed location. Is this call _always_ meant to

[2022-09-27 18:30] Smolations commented on #127
Ok so, digging into this, I'm not sure if it's something you need to change or something the storybook team should change. It turns out that passing `--quiet` to the `build-storybook` command suppresses the generation of that design token file. It definitely shouldn't, but it doesn't. At least now you're aware, and you can close this issue if you think it's not an issue with your addon.  😁

[code]

[2022-09-29 09:54] SenseiMarv opened #128 "Addon stopped working without vite"
# Current behaviour
Currently, upgrading to version `2.7.0` of the addon breaks its functionality when not adding additional dependencies. The console will show `Error: Cannot find module 'vite'` when starting Storybook:

[code]

Storybook is still able to start up, but the design tokens will not work and the browser shows errors while trying to load `design-tokens.source.json`:

![image](https://

[2022-10-10 09:44] Sqrrl commented on #128
Sorry for that. Should be fixed with v2.7.1

[2022-10-12 10:15] julrich opened #129 "Table variant of `DesignTokenDocBlock` not rendering in Firefox"
Not entirely sure when this broke, but something seems to have degraded / destroyed the `viewType="table"` version of `DesignTokenDocBlock` in Firefox (Linux for me). Reproducible with the official Storybook for me here (for example):
https://storybook-design-token-v1.netlify.app/?path=/story/design-tokens-typography--page

Looks like this on my system (and verified by at least one colleague on ma

[2022-10-14 16:36] peterhodges opened #130 "node-glob not finding paths on windows"
Attempting to use the plugin with Storybook 6.5.9 on Windows and it fails silently by not showing any tokens in the panel or via the doc blocks.

On debugging, it's clear that the `glob.sync`  is returning an empty array in plugin.js `getTokenFilePaths()`.

The path is joined onto the context which, on windows, has back slashes: `C:\repos\design-tokens` and ends up as `C:\repos\design-tokens\**\*.

[2022-10-16 14:18] ilyamore88 opened #131 "Can't parse tokens if there is only one @tokens comment in a file"
### File for example:
[code]

### Output in design-tokens.source.json:
[code]

### How did I fix it:
I've added `/* @tokens End */` at the end of my file:
[code]

Output in design-tokens.source.json:
[code]

[2022-10-16 14:20] ilyamore88 commented on #120
Hi, @Sqrrl. It works fine, thank you!

<img width="1325" alt="image" src="https://user-images.githubusercontent.com/37909603/196040611-2c8c505e-5caa-4449-84cf-468401779b53.png">

[2022-10-16 14:20] #120 closed

[2022-10-17 09:20] peterhodges commented on #130
More info here: https://github.com/isaacs/node-glob/issues/467

Looks like backslashes were never explicitly supported but worked in v7 (no longer in v8).

[2022-10-21 15:28] spencerfrost opened #132 "Addon fails to load"
I'm running Storybook 6.5.12 for Vue 2.6. and I'm unable to load this addon for some reason.
I get the following output when I start Storybook.
All I have done is simply add the addon to my `addons` in the `main.js` file.
Using version 2.7.1

![image](https://user-images.githubusercontent.com/34923439/197050953-0e0639d1-d955-479d-89be-0be228b0cada.png)

[2022-11-16 21:40] yannbf opened #136 "Is there a particular reason to expose viteFinalFactory for users?"
Hey! This addon sounds great and I love that it supports Vite!
I was wondering if it's really necessary to expose a setup step for Vite users, or if this addon could just provide a `viteFinal` export instead, as part of its preset. This way the users don't even need to know what to set up, things should just work automatically. It works similarly than webpackFinal, which this addon already does.

[2022-11-17 09:09] yarinsa opened #139 "viteFinal blocks extra config merge"
Before adding this addon we had something like:
[code]
The motivation for this is that we have vite.config.ts (which includes all the complex stuff) and we have storybook/vite.config.ts which includes some overrides specific for storybook.

My naive assumption that viteFinalFactory accepts config and do the same merge logic. But apparently it accepts "options" as the plugin options.
My workaround

[2022-11-17 10:02] yarinsa opened #140 "designTokensTable crushes"
I am getting the following error:
![Screen Shot 2022-11-17 at 12 01 14](https://user-images.githubusercontent.com/44482362/202416503-be9046e7-9c20-49b9-8021-794a83952471.png)
[code]

I traced back and it seems like its expecting me to have theme.color.defaultText (which is not even storybook theme interface).
Willing to help with the fix

[2022-11-17 12:49] yannbf commented on #139
This is related to this question: #136
Supposedly there could be no reason to even provide such a factory function, and just accept the addon configuration via the addons entry in main.js

[2022-11-18 09:34] SenseiMarv commented on #128
Sorry for taking a bit longer to reply. I tried out whether the newest version runs without Vite and can confirm that it now starts up again 👍

[2022-11-18 09:34] #128 closed

[2022-11-18 11:14] Sqrrl commented on #140
I'm having issues reproducing this. What Storybook version are you using?

[2022-11-18 11:38] Sqrrl commented on #132
Hard to tell from the screenshot alone. Could you provide a reproduction repo?

[2022-11-18 11:40] Sqrrl commented on #136
Hey. Thanks for the tip. As far as I know, viteFinal wasn't yet supported within the presets when I was implementing the Vite support. But could be wrong on that. Works great now, so I added the preset and removed the extra configuration steps from the readme. Will release it with v2.8.0.

[2022-11-18 11:45] yannbf commented on #136
Oh interesting. @IanVS Is there a possibility `viteFinal` is not supported in `storybook-builder-vite` but is now in `@storybook/builder-vite` ?

[2022-11-18 11:55] Sqrrl commented on #129
Thanks for reporting. Should be fixed with v2.8.0.

[2022-11-18 11:57] Sqrrl commented on #139
The usage of viteFinalFactory is obsolete with v2.8.0. You should be able to remove it from you config. Please let me know if that fixes your issue.

[2022-11-18 12:18] IanVS commented on #136
AFAIK, the builder has always supported it, but it's possible that storybook presets did not.

[2022-11-18 13:24] julrich commented on #129
`2.8.0` fixes this for me! Feel free to close the issue if that's enough validation :)

[2022-11-18 13:27] #129 closed

[2022-11-20 07:27] yarinsa commented on #140
6.5.12

[2022-11-20 07:28] yarinsa commented on #139
It did. Used your plugin directly in my vite.config.ts

[2022-11-20 08:01] yarinsa opened #142 "[Feature Request]: allow filtering variables in DocBlock"
Want to begin and say **I am willing to contribute this feature :)**.

The motivation:

Our overrides.less file (overrides antd parsed and replaced using less 'modifyVars' ) looks something like this:

[code]

I will wrap the alert variables with @tokens as well and separate it's type. But In the Alert Story I would like to present a table of all the variables containing "--alert-*".

Thought the

[2022-11-20 10:36] Sqrrl commented on #142
Sounds really useful. Go for it if you like.

[2022-11-20 10:37] #139 closed

[2022-11-20 10:38] Sqrrl commented on #136
Thanks for the insight. Maybe I was just wrong. Closing this.

[2022-11-20 10:38] #136 closed

[2022-11-20 10:39] Sqrrl commented on #123
I'm closing this for now. Please re-open if necessary.

[2022-11-20 10:39] #123 closed

[2022-11-20 10:40] Sqrrl commented on #126
I'll look into it. Maybe an oversight.

[2022-11-29 19:54] jgornick opened #143 "Provide ability to disable or increase page size in TokenCards component"
Currently the TokenCards component is [hard coded to paginate at 50 items](https://github.com/UX-and-I/storybook-design-token/blob/master/addon/src/components/TokenCards.tsx#L26).

We would like to disable pagination altogether, or at least provide a much larger page size.

Is this as simple as providing the `pageSize` as a prop on the component?

[2022-11-30 15:12] jgornick commented on #143
FYI, totally willing to submit a PR, but just wanted to double check to make sure this hard coded value has a reason.

[2022-11-30 15:27] Sqrrl commented on #143
A PR would be great. No real reason for the default.